<div class='item_container'>
	<div class='machine item'>
		<span class='simple'>
			> the sudokutron obliges<br /><br/ >
		</span>
		<div class='main'>
			<div class='menu'>
				> <%= link_to 'submit', 'javascript:submit();'%><br /><br />
				> <%= link_to 'solve', 'javascript:swap();' %><br/ >
				> <%= link_to 'another' %><br />
				> <%= link_to 'home' %><br />
			</div>
			<div class='puzzle'>
				<div id='puzzle'>
					<%= @puzzle.puzzleify(:easy).to_html %>
				</div>
				<div id='solution' style='display: none;'>
					<%= @puzzle.to_html('solution') %>
				</div>
			</div>
		</div>
		
	</div>
</div>