<div class='item_container'>
	<div class='machine item'>
		<span class='simple'>
			> <%= challenge_message %><br /><br/ >
		</span>
		<div class='main'>
			<div class='menu'>
				> <%= link_to 'score', 'javascript:submit();'%><br /><br />
				> <%= link_to 'solve', 'javascript:swap();', :id => 'solve_link' %><br/ >
				> <%= link_to 'another', new_puzzle_url %><br />
				> <%= link_to 'home', root_url %><br />
			</div>
			<div class='puzzle'>
				<div id='puzzle'>
					<%= @puzzle.puzzleify(:easy).to_html %>
				</div>
				<div id='solution' style='display: none;'>
					<%= @puzzle.to_html('solution') %>
				</div>
			</div>
		</div>
		
	</div>
</div>